@import 'assets/style/variables';
@import 'assets/style/reset';

.first-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    width: 100vw;
    height: 100vh;

    .container-text-first{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start;
    }

    .container-img-first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        .img-first {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: end;
            align-items: start;
        }
        .img-first-item{
            position: absolute;
        }
        .item-1{
            z-index: 1;
        }
    
        .item-2{
            z-index: 0;
        }
}

}

