//estilos globais
@import 'assets/style/variables';
@import 'assets/style/reset';

//primeira página
@import 'assets/style/first-page';

@import 'assets/style/second-page';
@import 'assets/style/tirth-page';
@import 'assets/style/fourth-page';
@import 'assets/style/card';
@import 'assets/style/fifth-page';
@import 'assets/style/footer';
@import 'assets/style/carousel';
@import 'assets/style/animation';

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}