@charset "UTF-8";
@import url("https://use.typekit.net/bmd0hmu.css");
@import url("https://use.typekit.net/zve5vjt.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

a, ul, li, ol {
  text-decoration: none;
}

button, input {
  border: none;
  outline: none;
}

.first-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #434494;
  width: 100vw;
  height: 100vh;
}
.first-page .container-text-first {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.first-page .container-text-first .title-first-page {
  color: #F2F2F2;
  padding: 10px 0;
  font-size: 3rem;
  font-family: "hatch-sans", sans-serif;
}
.first-page .container-text-first .text-first-page {
  color: #F2F2F2;
  padding: 5px 0;
  font-size: 1rem;
  font-family: "hatch-sans", sans-serif;
  font-weight: 200;
  line-height: 2;
  letter-spacing: 2px;
}
.first-page .container-img-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.first-page .container-img-first .img-first {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
.first-page .container-img-first .img-first-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70%;
}
.first-page .container-img-first .item-1 {
  z-index: 1;
}
.first-page .container-img-first .item-2 {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  z-index: 0;
  width: 600px;
}

.second-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.second-page .container-carousel {
  display: grid;
  grid-template-columns: repeat(10, 300px);
  gap: 90px; /* Reduzindo o espaçamento entre os itens */
  max-width: 100%;
  height: 50%;
  overflow: hidden;
}
.second-page .container-carousel .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.second-page .container-carousel .carousel-item {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 20px; /* Reduzindo a borda para evitar cortes abruptos */
}
.second-page .container-bottles {
  display: flex;
  width: 100%;
  height: 50%;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.second-page .container-bottles .bottles-gif {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: end;
}
.second-page .container-bottles .bottles-gif-item {
  border-radius: 30px;
}
.second-page .container-bottles .container-info-bottles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
}
.second-page .container-bottles .info-bottles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.second-page .container-bottles .info-bottles .title-bottles {
  color: #434494;
  padding: 10px 0;
  font-size: 2rem;
  font-family: "hatch-sans", sans-serif;
}
.second-page .container-bottles .info-bottles .text-bottles {
  font-size: 1rem;
  font-family: "hatch-sans", sans-serif;
  font-weight: 200;
  line-height: 2;
  letter-spacing: 2px;
}
.second-page .container-bottles .info-bottles .btn-bottles {
  display: flex;
  justify-content: center;
  width: 30%;
  background-color: #434494;
  color: #F2F2F2;
  padding: 5px 10px;
  border-radius: 20px;
}

.tirth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 30px;
  padding: 30px;
  background-color: #382949;
}
.tirth-page .container-tirth-page-left {
  align-items: end;
}
.tirth-page .container-tirth-page-left, .tirth-page .container-tirth-page-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 50%;
  height: 100%;
}
.tirth-page .container-tirth-page-left .container-card-bottle, .tirth-page .container-tirth-page-right .container-card-bottle {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  gap: 30px;
  height: 50%;
  width: 60%;
}
.tirth-page .container-tirth-page-left .container-card-bottle .card-bottle-1, .tirth-page .container-tirth-page-right .container-card-bottle .card-bottle-1 {
  justify-self: end;
  border-radius: 30px;
  background-color: rgb(55, 75, 67);
}
.tirth-page .container-tirth-page-left .container-card-bottle .card-bottle-2, .tirth-page .container-tirth-page-right .container-card-bottle .card-bottle-2 {
  justify-self: start;
  border-radius: 30px;
  background-color: rgb(214, 214, 214);
}
.tirth-page .container-tirth-page-left .container-gif-bottle, .tirth-page .container-tirth-page-right .container-gif-bottle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  overflow: hidden;
  width: 60%;
}
.tirth-page .container-tirth-page-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.fourth-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 30px;
}
.fourth-page .wrapper-content {
  position: relative;
  display: flex;
  width: 60vw;
  height: 80vh;
}
.fourth-page .wrapper-content .container-up {
  position: absolute;
  display: flex;
  gap: 20px;
  width: 55%;
  height: 60%;
  align-items: center;
  justify-content: end;
  top: 0;
  left: 0;
}
.fourth-page .wrapper-content .container-up .info-fourth-page-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
  width: 30%;
}
.fourth-page .wrapper-content .container-up .info-fourth-page-1 .title-fourth-page {
  color: #000000;
  font-size: 2rem;
  font-family: "hatch-sans", sans-serif;
}
.fourth-page .wrapper-content .container-up .info-fourth-page-1 .info-fourth-page {
  font-size: 1rem;
  font-family: "hatch-sans", sans-serif;
  font-weight: 200;
  line-height: 2;
  letter-spacing: 2px;
  text-align: end;
}
.fourth-page .wrapper-content .container-up .info-fourth-page-1 .btn-fourth-page {
  display: flex;
  justify-content: center;
  width: 60%;
  background-color: #434494;
  color: #F2F2F2;
  padding: 5px 30px;
  border-radius: 20px;
}
.fourth-page .wrapper-content .container-up .img-fourth-page-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 30px;
  overflow: hidden;
  z-index: 1;
}
.fourth-page .wrapper-content .container-up .img-fourth-page-1 .img-fourth-page {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.fourth-page .wrapper-content .container-down {
  position: absolute;
  display: flex;
  width: 55%;
  height: 60%;
  gap: 20px;
  align-items: center;
  justify-content: start;
  bottom: 0;
  right: 0;
}
.fourth-page .wrapper-content .container-down .img-fourth-page-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 30px;
  z-index: 0;
  overflow: hidden;
}
.fourth-page .wrapper-content .container-down .img-fourth-page-2 .img-item-2 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.fourth-page .wrapper-content .container-down .info-fourth-page-2 {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.fourth-page .wrapper-content .container-down .info-fourth-page-2 .title-fourth-page {
  color: #000000;
  font-size: 2rem;
  font-family: "hatch-sans", sans-serif;
}
.fourth-page .wrapper-content .container-down .info-fourth-page-2 .info-fourth-page {
  font-size: 1rem;
  font-family: "hatch-sans", sans-serif;
  font-weight: 200;
  line-height: 2;
  letter-spacing: 2px;
  text-align: start;
}
.fourth-page .wrapper-content .container-down .info-fourth-page-2 .btn-fourth-page {
  display: flex;
  justify-content: center;
  width: 60%;
  background-color: #434494;
  color: #F2F2F2;
  padding: 5px 30px;
  border-radius: 20px;
}

.card-bottle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card-bottle .container-card {
  display: flex;
  flex-direction: center;
  width: 100%;
  height: 50%;
  align-items: center;
  overflow: hidden;
}
.card-bottle .container-card .img-card {
  width: 100%;
}
.card-bottle .info-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}
.card-bottle .info-card .title-info-card {
  color: #F2F2F2;
  font-size: 2rem;
  font-family: "hatch-sans", sans-serif;
}
.card-bottle .info-card .description-info-card {
  font-size: 1rem;
  font-family: "hatch-sans", sans-serif;
  font-weight: 200;
  line-height: 1;
  letter-spacing: 1px;
}
.card-bottle .info-card .btn-info-card {
  background-color: rgb(231, 90, 55);
  padding: 5px;
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */