.fifth-page{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
    background-color: $primary-color;
    
    .container-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 60%;
        height: 100%;
        padding: 30px;

        //ajustes individuais do container esquerdo
        .left-container{
            align-items: end;
            
            .info-fifth{
                align-items: end;
                text-align: end;
            }
        }


        //ajustes individuais do container direito
        .right-container{
            align-items: start;
        }

        .left-container , .right-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            width: 50%;
            height: 100%;
            
            .container-img-fifth{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                overflow: hidden;
                border-radius: 30px;

                .fifth-img{
                    width: 100%;
                    object-fit: cover;
                }
                
            }
            
            .info-fifth{
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 70%;

                .title-fifth{
                    color: $dark-color;
                    font-size: 2rem;
                    font-family: $secundary-font;
                }

                .text-fifth{
                    font-size: 1rem;
                    font-family: $secundary-font;
                    font-weight: 200;
                    line-height: 2;
                    letter-spacing: 2px;
                    
                }

                .btn-fifth {
                    display: flex;
                    justify-content: center;
                    width: 20%;
                    background-color: $second-color;
                    color: $dark-color;
                    padding: 5px 30px;
                    border-radius: 20px;
                    cursor: pointer;
                    &:hover{
                        background-color: $fifth-color ;
                        transition: .3s;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 393px) and (max-width: 500px){
    .fifth-page{
        width: 95vw;
        height: auto;
        border-radius: 10px;
        justify-content: space-between;

        .container-wrapper{

            gap: 20px;
            padding: 10px;
            align-items: start;
            width: 100%;
            height: 40vh;
            justify-content: space-between;




            .left-container , .right-container{
                border-radius: 30px;
                overflow: hidden;
                gap: 0;
                width: 100%;
                height: 100%;

                .container-img-fifth{
                    border-radius: 0;
                    min-height: 40%;
                    .fifth-img{
                        object-position: center;
                        object-fit: cover;
                        width: auto ;
                        height: 100%;

                    }                    
                }
                .info-fifth{
                    gap: 10px;
                    width: 100%;
                    background-color: $sixth-color;
                    padding: 10px;
                    align-items: center;
                    height: 100%;

                    .title-fifth{
                        font-size: 1.3rem;
                        text-align: center;
                    }
    
                    .text-fifth{
                        font-size: .9rem;
                        font-weight: 200;
                        line-height: 1;
                        letter-spacing: 1px;
                        text-align: center;
                        
                    }
    
                    .btn-fifth {
                        display: flex;
                        justify-content: center;
                        width: 60%;
                        text-align: center;
                        background-color: $second-color;
                        color: $dark-color;
                        padding: 5px 30px;
                        cursor: pointer;
                        &:hover{
                            background-color: $fifth-color ;
                            transition: .3s;
                        }
                    }

                }    
            }
        }
    }
}


/*

                .title-fifth{
                    color: $dark-color;
                    font-size: 2rem;
                    font-family: $secundary-font;
                }

                .text-fifth{
                    font-size: 1rem;
                    font-family: $secundary-font;
                    font-weight: 200;
                    line-height: 2;
                    letter-spacing: 2px;
                    
                }

                .btn-fifth {
                    display: flex;
                    justify-content: center;
                    width: 20%;
                    background-color: $second-color;
                    color: $dark-color;
                    padding: 5px 30px;
                    border-radius: 20px;
                    cursor: pointer;
                    &:hover{
                        background-color: $fifth-color ;
                        transition: .3s;
                    }
                }
            }
        }
    }
}

*/