@import 'mixins';

.first-page {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-content: center;
    background-color: $primary-color;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .container-text-first{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 50%;
        height: 100%;
        text-align: start;

        .glass-vector{
            @include clamp(width, 200px, 5vw, 20vw);
        }

        .text-wrapper-first{
            display: flex;
            flex-direction: column;
            padding: 30px;
            gap: 20px;
            .title-first-page{
                color: $sixth-color;
                font-size: clamp(1.75em, 3em + 6vw, 4em);
                font-family: $secundary-font;
            }

            .pais-vector{
                width: max(30px, 90%);
            }

            .text-first-page{
                color: $sixth-color;
                padding: 5px 0;
                font-size: 1rem;
                font-family: $secundary-font;
                font-weight: 200;
                line-height: 2;
                letter-spacing: 2px;
                strong{
                    color: $fifth-color;
                }
            }
        }
    }

    .container-img-first {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 50%;
        height: 100%;
        .img-first {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: end;
            align-items: start;
        }
        //acessa as duas imagens
        .img-first-item{
            display: flex;
            flex-direction: column;
            width: 70%;
        }
        .item-1{
            z-index: 1;
            @include clamp(width, 400px, 10vw, 11vw);
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
        }
    
        .item-2{
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 0;
            @include clamp(width, 350px, 30vw, 50vw);
        }
    }

}

/*==============================tablet===================================*/
@media screen and (min-width: 501px) and (max-width: 700px) {
    .first-page{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 0;
        height: 100vh;
        padding: 30px 30px 0 30px;

            .container-text-first{
            width: 100%;
            height: 100%;

            .title-first-page{
                font-size: 2rem;

            }
            .text-first-page{
                display: none;
            }

            .text-wrapper-first{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                width: 100%;
    
                .pais-vector{
                    width: 60%;
                }
            }
        }
    
        .container-img-first {
            
            .img-first {
                align-items: center;
            }
        }
    }
}

/*==============================mobile====================================*/
@media screen and (min-width: 312px) and (max-width: 500px) {
    .first-page{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 0;
        height: 100vh;
        padding: 30px 30px 0 30px;

            .container-text-first{
            width: 100%;
            height: 100%;

            .title-first-page{
                font-size: 2rem;

            }
            .text-first-page{
                display: none;
            }

            .text-wrapper-first{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
    
                .pais-vector{
                    width: 60%;
                }
            }
        }
    
        .container-img-first {
            
            .img-first {
                align-items: center;
            }
        }
    }
}

