.first-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    width: 100vw;
    height: fit-content;
    overflow: hidden;
    border: solid red;

    .container-text-first{
        border: solid purple;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start;

        .text-wrapper-first{
            border: solid violet;

            .glass-vector{
                border: solid blue;
            }
            .title-first-page{
                border: solid red;
                color: $sixth-color;
                font-size: clamp(1.75em, 3em + 6vw, 4em);
                font-family: $secundary-font;
            }

            .pais-vector{
                border: solid rosybrown;
                width: max(30px, 90%)

            }

            .text-first-page{
                border: solid yellow;
                color: $sixth-color;
                padding: 5px 0;
                font-size: 1rem;
                font-family: $secundary-font;
                font-weight: 200;
                line-height: 2;
                letter-spacing: 2px;
                strong{
                    color: $fifth-color;
                }
            }
        }
    }

    .container-img-first {
        position: relative;
        border: solid goldenrod;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        .img-first {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: end;
            align-items: start;
        }
        //acessa as duas imagens
        .img-first-item{
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 70%;
        }
        .item-1{
            z-index: 1;
        }
    
        .item-2{
            position: absolute;
            top: 20%;
            transform: translateY(-50%);
            z-index: 0;
            width: 80%;
        }
    }

}
@media screen and (min-width: 312px) and (max-width: 500px) {
    .first-page{
        flex-direction: column;
        width: 95%;
        border-radius: 20px;
        height: 100vh;
        padding: 30px 30px 0 30px;

            .container-text-first{
            width: 100%;
            height: 100%;

            .title-first-page{
                font-size: 2rem;

            }
            .text-first-page{
                font-size: .9rem;
            }

            .text-wrapper-first{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
    
                .pais-vector{
                    width: 60%;
                }
            }
        }
    
        .container-img-first {
            
            .img-first {
                align-items: center;
            }
            .item-1{
                z-index: 1;
                width: 190%;
            }
        
            .item-2{
                width: 280px;
            }
        }
    }
}

