.fourth-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 30px;
    background-color: $tirth-color;

    .wrapper-content{
        position: relative;
        display: flex;
        width: 60vw;
        height: 80vh;

        .container-up{
            position: absolute;
            display: flex;
            gap: 20px;
            width: 55%;
            height: 60%;
            align-items: center;
            justify-content: end;
            top: 0;
            left: 0;

            .info-fourth-page-1{
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: end;
                width: 30%;
                
                .title-fourth-page{
                    color: $sixth-color;
                    font-size: 2rem;
                    text-align: end;
                    font-family: $secundary-font;
                }

                .info-fourth-page{
                    font-size: 1rem;
                    font-family: $secundary-font;
                    font-weight: 200;
                    line-height: 2;
                    letter-spacing: 2px;
                    text-align: end;
                }

                .btn-fourth-page{
                    display: flex;
                    justify-content: center;
                    width: 60%;
                    background-color: $primary-color;
                    color: $sixth-color;
                    padding: 5px 30px;
                    border-radius: 20px;
                    cursor: pointer;
                    &:hover{
                        background-color: $fifth-color ;
                        transition: .3s;
                    }
                }

            }
    
            .img-fourth-page-1{
                display: flex;
                flex-direction: column;
                width: 50%;
                border-radius: 30px;
                overflow: hidden;
                z-index: 1;
                transition: .3s;
                &:hover{
                    transition: .3s;
                    transform: scale(103%);
                }

                .img-fourth-page{
                    object-fit: cover;
                    width: 100%;
                }
            }
        }

        .container-down{
            position: absolute;
            display: flex;
            width: 55%;
            height: 60%;
            gap: 20px;
            align-items: center;
            justify-content: start;
            bottom: 0;
            right: 0;

            
            .img-fourth-page-2{
                display: flex;
                flex-direction: column;
                width: 50%;
                border-radius: 30px;
                z-index: 0;
                overflow: hidden;
                transition: .3s;
                &:hover{
                    transition: .3s;
                    transform: scale(103%);
                    z-index: 2;
                }


                .img-item-2{
                    object-fit: cover;
                    width: 100%;
                }
            }


            .info-fourth-page-2{
                display: flex;
                flex-direction: column;
                width: 30%;

                .title-fourth-page{
                    color: $seventh-color;
                    font-size: 2rem;
                    font-family: $secundary-font;
                }

                .info-fourth-page{
                    font-size: 1rem;
                    font-family: $secundary-font;
                    font-weight: 200;
                    line-height: 2;
                    letter-spacing: 2px;
                    text-align: start;
                }

                .btn-fourth-page{
                    display: flex;
                    justify-content: center;
                    width: 60%;
                    background-color: $primary-color;
                    color: $sixth-color;
                    padding: 5px 30px;
                    border-radius: 20px;
                    cursor: pointer;
                    &:hover{
                        background-color: $fifth-color ;
                        transition: .3s;
                    }
                }
            }
    
        }

    }
}