.second-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border: solid red;

    .container-carousel {
        border: solid blue;
        overflow-x: scroll;
        display: flex;
        gap: 30px;
        .carousel {
            display: flex;
            border-radius: 30px;
            width: 600px;
            height: 400px;
            overflow: hidden;
            border: solid salmon;

            .carousel-item {
                height: 1000px;
            }
        }
    }
}