.tirth-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
   
    gap: 30px;
    padding: 30px;
    background-color: $seventh-color;
    
    .container-tirth-page-left{
        align-items: end;
    }
    .container-tirth-page-left, .container-tirth-page-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        width: 50%;
        height: 100%;
        .container-card-bottle{
            display: grid;
            grid-template: 1fr / 1fr 1fr;
            gap: 30px;
            height: 50%;
            width: 60%;


            .card-bottle-1{
                justify-self: end;
                border-radius: 30px;
                background-color: $sixth-color;
            }

            .card-bottle-2{
                justify-self: start;
                border-radius: 30px;
                background-color: $sixth-color;
                transition: .3s;
            }   
        }  

        .container-gif-bottle {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            overflow: hidden;
            width: 60%;

        }
    }

    .container-tirth-page-right{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
}

@media screen and (min-width: 312px) and (max-width: 500px){
    .tirth-page{
        flex-direction: column;
        justify-content: end;
        width: 95%;
        gap: 30;

        .container-tirth-page-left, .container-tirth-page-right{
            flex-direction: column;
            width: 100%;

            .container-gif-bottle{
                order: 2; 
            }
            
            .container-card-bottle{
                width: 100%;
                order: 1;
                
                .card-bottle-1{
                    justify-self: center;
                }

                .card-bottle-2{
                    justify-self: start;
                    border-radius: 30px;
                    background-color: $sixth-color;
                    transition: .3s;
                }   
            }

            .container-gif-bottle{
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
}
