@import url("https://use.typekit.net/bmd0hmu.css");
@import url("https://use.typekit.net/zve5vjt.css");


//Paleta de cores
$primary-color:#434494;
$second-color:#0B1726;
$tirth-color:#222d38;
$fourt-color:#13F2F2;
$fifth-color:#038C8C;
$sixth-color:#F2F2F2;
$glass-color: #13f2f23b;

//fontes
$strong-font: "cubano", sans-serif;
$secundary-font: "hatch-sans", sans-serif;