@import url("https://use.typekit.net/bmd0hmu.css");
@import url("https://use.typekit.net/zve5vjt.css");


//Paleta de cores
$primary-color:#434494;
$second-color: rgb(209, 235, 226);
$sixth-color:#F2F2F2;


//fontes
$strong-font: "cubano", sans-serif;
$secundary-font: "hatch-sans", sans-serif;