@import url("https://use.typekit.net/bmd0hmu.css");
@import url("https://use.typekit.net/zve5vjt.css");


//Paleta de cores
$primary-color:#448FF2;
$second-color: #F2B705;
$tirth-color: #e79e00;
$fourth-color: #33A650;
$fifth-color: #00214D;
$sixth-color:#F2F2F2;
$seventh-color:#e9e9e9;
$dark-color: #1c1b1f;

$primary-opacity:#448ff24d;
$second-opacity: #F2B7054d;
$tirth-opacity: #e79e004d;
$fourth-opacity: #33A6504d;
$fifth-opacity: #00214D4d;
$sixth-opacity:#f2f2f24d;
$seventh-opacity:#e9e9e94d;
$dark-opacity: #1c1b1f4d;



//fontes
$strong-font: "cubano", sans-serif;
$secundary-font: "hatch-sans", sans-serif;